st.font:	scientifica:pixelsize=11
*.alpha: 0.6

! special
*.foreground:   #000000
*.background:   #ffffff
*.cursorColor:  #000000

! black
*.color0:       #20282a
*.color8:       #000000

! red
*.color1:       #cb425f
*.color9:       #cb425f

! green
*.color2:       #98be21
*.color10:      #99be21

! yellow
*.color3:       #f49335
*.color11:      #f49335

! blue
*.color4:       #439bc3
*.color12:      #439bc3

! magenta
*.color5:       #8f62ca
*.color13:      #8f62ca

! cyan
*.color6:       #4ccd9d
*.color14:      #4ccd9d

! white
*.color7:       #ececec
*.color15:      #ffffff

